<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Applets</title>
    <style>
        body {
            font-family: system-ui;
            font-size: 90%;
        }
        ul {
            columns: 2;
            -moz-columns: 2;
            -webkit-columns: 2;
            column-gap: 2rem;
        }
    </style>
</head>
<body>
    <h1>Applets</h1>
    <p>For locally-run applets click <a href="http://localhost:5174">here</a></p>
    <hr>
    <h3>Unternet applets:</h3>
    <ul>
        <li><a href="https://applets.unternet.co/maps">Maps</a></li>
        <li><a href="https://applets.unternet.co/tarot">Tarot</a></li>
        <li><a href="https://applets.unternet.co/calculator">Calculator</a></li>
        <li><a href="https://applets.unternet.co/todo">Todo</a></li>
        <li><a href="https://applets.unternet.co/rich-text-editor">Rich Text Editor</a></li>
        <li><a href="https://applets.unternet.co/codepad">Codepad</a></li>
        <li><a href="https://applets.unternet.co/crossword">Crossword</a></li>
        <li><a href="https://applets.unternet.co/web">Web</a></li>
        <li><a href="https://applets.unternet.co/3d">3D</a></li>
    </ul>
</body>
</html>