@import (reference) '@blueprintjs/core/lib/less/variables';

html,
body,
#root,
.react-mosaic-example-app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

.mosaic-window-body webview {
  height: 100%;
  width: 100%;
}

.disable-pointer-events {
  pointer-events: none;
}

.app-header {
  background-color: #383e47;
  color: #f6f7f9;
  height: 40px;
  display: flex;
  padding-right: 10px;
  font-size: 14px;
  flex-direction: row-reverse;
}

.app-header .bp5-button {
  margin: auto 0;
  height: fit-content;
}